numpy               1.22.3
pandas              1.5.3
PyYAML              6.0.1
safetensors         0.3.1
scikit-learn        1.2.2
torch               2.0.0
torch-cluster       1.6.1
torch-geometric     2.3.0
torch-scatter       2.1.1
torch-sparse        0.6.17
tqdm                4.65.0
transformers        4.31.0
